Client/Client/bin/Debug/Client.vshost.exe
Client/Client/bin/Debug/Client.vshost.exe.config
Client/Client/bin/Debug/Client.vshost.exe.manifest
Client/.vs/Client/v14/.suo
Client/TDD-TEST/obj/Debug/TDD-TEST.csprojResolveAssemblyReference.cache
Client/TDD-TEST/bin/Debug/nunit_random_seed.tmp
Client/TDD-TEST/bin/Debug/TDD-TEST.pdb
Client/TDD-TEST/bin/Debug/TDD-TEST.dll
Client/TDD-TEST/bin/Debug/Client.pdb
Client/TDD-TEST/bin/Debug/Client.exe
Client/Client/obj/Debug/Client_MarkupCompile.cache
Client/Client/obj/Debug/Client_MarkupCompile.i.cache
Client/Client/obj/Debug/Client_MarkupCompile.i.lref
Client/Client/obj/Debug/Client_MarkupCompile.lref
Client/Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/Client/obj/Debug/MainWindow.baml
Client/Client/obj/Debug/MainWindow.g.cs
Client/Client/obj/Debug/MainWindow.g.i.cs
Client/PluginExecutor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/Client/bin/Debug/Client.exe
Client/Client/bin/Debug/Client.pdb
Client/Client/bin/Debug/nunit_random_seed.tmp
Client/Client/obj/Debug/App.g.cs
Client/Client/obj/Debug/App.g.i.cs
Client/Client/obj/Debug/Client.csproj.GenerateResource.Cache
Client/Client/obj/Debug/Client.csprojResolveAssemblyReference.cache
Client/Client/obj/Debug/Client.exe
Client/Client/obj/Debug/Client.g.resources
Client/Client/obj/Debug/Client.pdb
Client/TDD-TEST/obj/Debug/TDD-TEST.dll
Client/TDD-TEST/obj/Debug/TDD-TEST.pdb
Client/.vs/Client/v15/.suo
Client/Client/obj/Debug/Client.csproj.FileListAbsolute.txt
Client/Client/obj/Debug/CoreCompileInputs.cache
Client/PluginExecutor/bin/Debug/nunit_random_seed.tmp
Client/PluginExecutor/obj/Debug/CoreCompileInputs.cache
Client/TDD-TEST/bin/Debug/Client.exe.config
Client/TDD-TEST/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
Client/TDD-TEST/bin/Debug/pl/Microsoft.VisualStudio.QualityTools.UnitTestFramework.resources.dll
Client/TDD-TEST/obj/Debug/CoreCompileInputs.cache
Client/TDD-TEST/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/TDD-TEST/obj/Debug/TDD-TEST.csproj.FileListAbsolute.txt
Client/PluginExecutor/obj/Debug/PluginExecutor.csprojResolveAssemblyReference.cache
Client/Client/bin/Debug/PluginExecutor.dll
Client/Client/bin/Debug/PluginExecutor.pdb
Client/PluginExecutor/bin/Debug/PluginExecutor.dll
Client/PluginExecutor/bin/Debug/PluginExecutor.pdb
Client/PluginExecutor/obj/Debug/PluginExecutor.csproj.FileListAbsolute.txt
Client/PluginExecutor/obj/Debug/PluginExecutor.dll
Client/PluginExecutor/obj/Debug/PluginExecutor.pdb
Client/TDD-TEST/bin/Debug/PluginExecutor.dll
Client/TDD-TEST/bin/Debug/PluginExecutor.pdb
